@using Res = JobApplication.Properties.Resources

@{
    ViewBag.Title = "Home Page";
}

<main class="card">
    <div class="row ">
        <section class=" card-header" aria-labelledby="aspnetTitle">
            <h1 id="title">@Res.ApplicationName</h1>
            <p class="lead">@Res.System_WelcomeMessage</p>

        </section>
    </div>

    <div class="row card-body">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">

            <div class="card">
                <h2 class="card-header" id="gettingStartedTitle">@Res.JobPosts</h2>

                <div class="card-body">
                    <p>@Res.Job_AddAndTrack </p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "PostJob")">@Res.ShowJobs &raquo;</a></p>

                        <p><a class="btn btn-outline-dark" href="@Url.Action("Create", "PostJob")"> @Res.CreateNewJob &raquo;</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">

            <div class="card">
                <h2 class="card-header" id="gettingStartedTitle">@Res.JobApplications</h2>

                <div class="card-body">
                    <p> @Res.Application_ReviewAndUpdate</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "JobApplication")">@Res.ShowApplications &raquo;</a></p>

                        <p><a class="btn btn-outline-dark" href="@Url.Action("Create", "JobApplication")"> @Res.CreateJobApplication &raquo;</a></p>
                    </div>

                </div>
            </div>
        </section>
        @*<section class="col-md-4" aria-labelledby="gettingStartedTitle">

                <div class="card">
                    <h2 class="card-header" id="gettingStartedTitle">@Res.Decisions</h2>

                    <div class="card-body">
                        <p>
                            @Res.Application_InterviewAndDecision
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <p><a class="btn btn-outline-dark" href="@Url.Action("ApplicationStatus", "JobApplication")">@Res.ShowDecisions &raquo;</a></p>

                        </div>

                    </div>
                </div>
            </section>*@
    </div>
</main>